---
export interface Props {
  image: string;
  altText: string;
  name: string;
}

const { image, altText, name } = Astro.props;
---

<div
  class="relative w-full aspect-square bg-gray-200 rounded-lg overflow-hidden"
>
  <img
    src={image}
    alt={altText}
    class="w-full h-full object-cover hover:scale-110 transition-transform duration-300"
  />
  <div
    class="absolute inset-0 bg-linear-to-t from-black/20 to-transparent opacity-0 hover:opacity-100 transition-opacity duration-300"
  >
  </div>
</div>
