---
import Layout from "../../layouts/Layout.astro";
import CategoryFilter from "../../components/Products/CategoryFilter.astro";
import ProductGrid from "../../components/Products/ProductGrid.astro";
import { getProductsByCategory } from "../../data/Products";
import { defaultCategories } from "../../data/Categories";

export function getStaticPaths() {
  return defaultCategories.map((category) => ({
    params: { slug: category.name.toLowerCase() },
    props: { categoryName: category.name },
  }));
}

const { slug } = Astro.params;

const products = getProductsByCategory(slug || "");
---

<Layout>
  <CategoryFilter activeCategory={slug} />
  <main class="min-h-screen bg-gray-50 py-8 px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-7xl">
      <!-- Grid de Productos -->
      <ProductGrid products={products} />
    </div>
  </main>
</Layout>
