---
import CategoryGrid from "./CategoryGrid.astro";
import { defaultCategories } from "../../data/Categories.ts";

export interface Props {
  /** Título de la sección */
  title?: string;
  /** Datos de las categorías, usa datos de ejemplo */
  categories?: Array<{
    id: string | number;
    name: string;
    imageUrl: string;
    altText?: string;
    href?: string;
  }>;
}

const {
  title = "Categorías",
  //categories: providedCategories
} = Astro.props;

// providedCategories || defaultCategories
const categories = defaultCategories;
---

<section class="bg-transparent pt-20">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    {
      title && (
        <div class="text-center mb-10">
          <h2 class="text-3xl font-bold text-white mb-4">{title}</h2>
          <p class="text-white max-w-2xl mx-auto">
            Explora nuestras categorías principales
          </p>
        </div>
      )
    }
    <CategoryGrid categories={categories} />
  </div>
</section>
