---
// src/components/Header/ContactInfo.astro
import { contactItems } from "../Navigation/navItems";
import PhoneIcon from "../Icons/PhoneIcon.astro";
import DevicePhoneMobileIcon from "../Icons/DevicePhoneMobileIcon.astro";
import { BusinessService } from "../../services/business.service";

const business = await BusinessService.getById(1);
---

<div class="hidden lg:flex items-center gap-6">
        <div class="flex items-center gap-2">
          <PhoneIcon className="size-5 text-white" />
          <span class="text-white font-medium">{business?.mobile}</span>
          <DevicePhoneMobileIcon className="size-5 text-white"  />
          <span class="text-white font-medium">{business?.phone}</span>
        </div>
</div>
