---
// src/components/Header/StatusBadge.astro
//import { getStatusBadge } from '../../utils/StatusBadgeFunc';
import { BusinessService} from '../../services/business.service';
import { isBusinessOpen, getStatusBadge } from '../../utils/businessStatusBadge';

const business = await BusinessService.getById(1);
const isOpen = isBusinessOpen(business);
const status = getStatusBadge(isOpen);
---

<div class="hidden lg:flex items-center">
  <span class={`px-3 py-1 rounded-full text-sm font-medium ${status.colorClass}`}>
    {status.text}
  </span>
</div>