---
// src/components/Footer/FooterSocial.astro
import FacebookIcon from '../Icons/FacebookIcon.astro';
import InstagramIcon from '../Icons/InstagramIcon.astro';
import { BusinessService } from '../../services/business.service';

const business = await BusinessService.getById(1);
const socialNetwork = [];
// Facebook
if (business?.urlFacebook) {
  socialNetwork.push({
    url: business.urlFacebook,
    icon: 'facebook',
    ariaLabel: 'Visita nuestro Facebook'
  });
}
// Instagram
if (business?.urlInstagram) {
  socialNetwork.push({
    url: business.urlInstagram,
    icon: 'instagram',
    ariaLabel: 'Visita nuestro Instagram'
  });
}
---

<div class=flex gap-6 justify-center md:justify-start>
  {socialNetwork.map((network) => (
    <a 
      href={network.url} 
      target="_blank" 
      rel="noopener noreferrer nofollow"
      aria-label={network.ariaLabel}
      class="text-gray-300 hover:text-white transition-colors duration-200"
    >
      {network.icon === 'facebook' && <FacebookIcon  />}
      {network.icon === 'instagram' && <InstagramIcon  />}
    </a>
  ))}
</div>