---
import { siteConfig } from '../Navigation/navItems';
import { BusinessService } from '../../services/business.service';

const business = await BusinessService.getById(1);
---

<div class="flex flex-col items-center md:items-start gap-4">
  <div class="flex items-center gap-3">
    <img 
      src={business?.image} 
      alt={business?.name}
      class="h-10 w-auto"
    />
    <span class="text-xl font-bold text-white">{business?.name}</span>
  </div>
</div>